.title {
    text-align: center;
    font-size: 40px;
    background-color: rgb(81, 81, 240);
}
.three-buttons {
    display: flex;
    justify-content: center;
    background-color: rgb(81, 81, 240) ;
}
.button-img {
    background-color:  rgb(81, 81, 240);
}
.button-img:hover { 
    background-color: blueviolet;
}
.button-text { 
    background-color: rgb(81, 81, 240);
}
.button-text:hover { 
    background-color: blueviolet;
}
.button-mood { 
    background-color: rgb(81, 81, 240);
}
.button-mood:hover { 
    background-color: blueviolet;
}
.panel-title {
    text-align: center;
}
.meme-img { 
    background-color: aqua;
}
.img-meme { 
    text-align: center;
    font-size: 20px;
}
.panel { 
    background-color: brown;
    width:200px;
    

    
}
.control-panel { 
    margin: 20px;
}
.button-filters { 
    border-radius: 10px;
    height: 50px;
    width: 85px;
    margin: 50px;
    font-size: 15px;
}